name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
         - '8.2'
         - '8.3'
         - '8.4'
        dependencies: ['']
        include:
          - { php-version: '8.1', dependencies: '' }

    name: PHP ${{ matrix.php-version }} ${{ matrix.dependencies }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions:
          coverage: pcov
          tools: composer:v2

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/composer
          key: composer-${{ matrix.php-version }}-${{ hashFiles('**/composer.*') }}-${{ matrix.dependencies }}
          restore-keys: |
            composer-${{ matrix.php-version }}-${{ hashFiles('**/composer.*') }}-
            composer-${{ matrix.php-version }}-
            composer-

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-progress ${{ matrix.dependencies }}

      - name: Execute tests
        run: |
          make ci-test

      - name: Upload coverage report
        continue-on-error: true
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          php vendor/bin/php-coveralls -v

      - name: Validate composer.json
        run: |
          composer validate --strict
          composer normalize --diff --dry-run
